In [8]:
my_tuple = "dani", "30", "SQL"
name, age, favourite_language = my_tuple
print(f"Hello my name is {name}, I am {age} years old, and my favourite programing language is {favourite_language}.")

Hello my name is dani, I am 30 years old, and my favourite programing language is SQL.

In [12]:
type(11.22)

float

In [25]:
keys = ["name", "age", "city"]
values = ["alice", 25, "new York"]
dict1 = dict(zip(keys,values))
print(dict1)

{'name': 'alice', 'age': 25, 'city': 'new York'}

In [29]:
num_str = "150"
num_int = int(num_str)
type(num_int)

int

In [30]:
num_int = 123
num_str1 = "numbers"
print(num_int+num_str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'