In [ ]:
import pandas as pd

df1 = pd.DataFrame(
    {
        'PassengerId': [1,2,3],
        'Name': ['Ben', 'Yuval', 'Dani']
    }
)

df2 = pd.DataFrame(
    {
        'PassengerId': [4,5,6],
        'Name': ['David', 'Syd', 'Eden']
    }
)

df3 = pd.DataFrame(
    {
        'Fare': [30,20,60,200,1],
        'Ticket': ['A123', 'B456', 'C789','D123', 'E456', 'F789']
    },
    index = [1,2,3,4,5,6]
)

df4 = pd.concat()